body{
    display: flex;
    flex-direction: column;
    margin: 0% 10%;
}

#keyword-box{
    border-radius: 8px;
    margin-top: -6px;
    margin-left: 5px;
    height: 30px;
}

#keyword-box:focus{
    background-color: lightyellow;
}

ul{
    padding: 0;
    margin: 0;
}

#secondary-nav a{
    color: white;
    text-decoration: none;
}

#secondary-nav{
    background-color: gray;
}

#secondary-nav ul{
   list-style-type: none;
}

#primary-nav{
    background-color: rgb(238, 238, 238);
    padding: 1% 0%;
}


#primary-nav ul{
    list-style-type: none;
}

#primary-nav a{
    color: gray;
    text-decoration: none;
}

#primary-nav a:hover{
    color: #F2AC00;
}

#pg-banner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

form{
    flex: 0 1 20%;
}

#content{
    padding: 1% 5% 2% 2%;
}

h3{
    color: #F2AC00;
    text-transform: uppercase;
    padding: 1% 0%;
    font-weight: bold;
}

a:link{
    text-decoration: none;
}